---
import "@styles/global.css"

import { siteConfig } from "@/config";
---

<!-- Cover -->
<div class="text-center py-10">
    <p class="text-[var(--text-color)] text-4xl py-5 font-bold">{ siteConfig.cover.title }</p>
    <p class="text-[var(--cover-subtitle-color)] text-xl">{ siteConfig.cover.subTitle }</p>
</div>
