---
import "@styles/global.css"
---

<!-- header -->
<div class="flex justify-between items-center p-4">
    <!-- logo -->
    <div>
        <a href="/" class="text-xl font-bold">Motues</a>
    </div>
    
    <!-- nav_bar -->
    <div>
        <div class="hidden md:flex space-x-0">
            <a href="https://motues.top" target="_blank" class="hover:bg-[#eceef2] rounded-lg px-3 py-2 hover:text-current">主页</a>
            <a href="/archives" target="_blank" class="hover:bg-[#eceef2] rounded-lg px-3 py-2 hover:text-current">归档</a>
            <a href="/message" target="_blank" class="hover:bg-[#eceef2] rounded-lg px-3 py-2 hover:text-current">留言</a>
            <a href="/about" target="_blank" class="hover:bg-[#eceef2] rounded-lg px-3 py-2 hover:text-current">关于</a>
            <a href="/links" target="_blank" class="hover:bg-[#eceef2] rounded-lg px-3 py-2 hover:text-current">友链</a>
            <a href="/rss.xml" target="_blank" class="hover:bg-[#eceef2] rounded-lg px-3 py-2 hover:text-current">RSS</a>
        </div>
        <!-- 移动端菜单按钮可以在这里添加 -->
    </div>
</div>