---
import { siteConfig } from '@/config';
import "@styles/global.css"

const pageTitle = `${siteConfig.title} - ${siteConfig.subTitle}`;
---

<!DOCTYPE html>
<html lang="zh-CN" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={siteConfig.favicon} type="image/x-icon">
    <link rel="stylesheet" href="'https://fonts.googleapis.com/css2?family=Noto+Serif+SC">
    <title>{pageTitle}</title>
</head>
<body class="h-full">
    <slot />
</body>
</html>
